# pipreqs /home/gswyhq/XLNet_embbeding
# sudo pip3 install -r requirements.txt -i http://pypi.douban.com/simple --trusted-host=pypi.douban.com

Keras==2.2.4
sentencepiece==0.1.83
scikit-learn==0.21.3
